In [1]:
'hello world'

'hello world'

In [6]:
'Datascience'*100

'DatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascienceDatascience'

In [7]:
d={}

In [8]:
type(d)

dict

In [12]:
D1={'Name':'Panchanan' ,' mail id':'padhyp48@gmail.com' , 'Number':993065054 , 'Name':'prathamesh'}

In [13]:
D1

{'Name': 'prathamesh', ' mail id': 'padhyp48@gmail.com', 'Number': 993065054}

In [14]:
D1['Name']

'prathamesh'

In [25]:
Car = {"brand": "Ford" ,  "model": "Mustang", "year": 1964}

In [27]:
Car feature ={'brand': 'Ford', 'model': 'Mustang', 'year':1964,'Owner':'Panchanan'}

SyntaxError: invalid syntax (944060373.py, line 1)

In [23]:
Car_feature = {"brand": "Ford", "model": "Mustang", "year": 1964}

In [24]:
Car_feature

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [26]:
Car['brand']

'Ford'

In [29]:
del Car['brand']

In [30]:
Car

{'model': 'Mustang', 'year': 1964}

In [33]:
Car['brand']=['Ford']

In [32]:
Car

{'model': 'Mustang', 'year': 1964, 'brand': ['Ford']}

In [38]:
list(Car.keys())

['model', 'year', 'brand']

In [39]:
list(Car.values())

['Mustang', 1964, ['Ford']]

In [40]:
list(Car.items())

[('model', 'Mustang'), ('year', 1964), ('brand', ['Ford'])]

In [41]:
Bike={'Brand':'Apache' , 'Model':'RTR' , 'Year bought': 2018 ,'Colour' : 'Red' , 'Owner': ' Guts'}

In [42]:
Bike

{'Brand': 'Apache',
 'Model': 'RTR',
 'Year bought': 2018,
 'Colour': 'Red',
 'Owner': ' Guts'}

In [43]:
list(Bike.keys())

['Brand', 'Model', 'Year bought', 'Colour', 'Owner']

##Contrl Flow / Control statment

In [45]:
# This function adds two numbers
def add(x, y):
    return x + y

# This function subtracts two numbers
def subtract(x, y):
    return x - y

# This function multiplies two numbers
def multiply(x, y):
    return x * y

# This function divides two numbers
def divide(x, y):
    return x / y

print("Select operation:")
print("1. Add")
print("2. Subtract")
print("3. Multiply")
print("4. Divide")

while True:
    # Take input from the user
    choice = input("Enter choice (1/2/3/4): ")
   # Check if the choice is one of the four options
    if choice in ('1', '2', '3', '4'):
        try:
            num1 = float(input("Enter first number: "))
            num2 = float(input("Enter second number: "))
        except ValueError:
            print("Invalid input. Please enter a number.")
            continue      
    if choice == '1':
            print(f"{num1} + {num2} = {add(num1, num2)}")
        elif choice == '2':
            print(f"{num1} - {num2} = {subtract(num1, num2)}")
        elif choice == '3':
            print(f"{num1} * {num2} = {multiply(num1, num2)}")
        elif choice == '4':
            print(f"{num1} / {num2} = {divide(num1, num2)}")

        # Check if the user wants another calculation
        next_calculation = input("Let's do the next calculation? (yes/no): ")
        if next_calculation.lower() == "no":
            break
    else:
        print("Invalid input")

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 37)

In [1]:
# This function adds two numbers
def add(x, y):
    return x + y

# This function subtracts two numbers
def subtract(x, y):
    return x - y

# This function multiplies two numbers
def multiply(x, y):
    return x * y

# This function divides two numbers
def divide(x, y):
    return x / y

print("Select operation:")
print("1. Add")
print("2. Subtract")
print("3. Multiply")
print("4. Divide")

while True:
    # Take input from the user
    choice = input("Enter choice (1/2/3/4): ")

    # Check if the choice is one of the four options
    if choice in ('1', '2', '3', '4'):
        try:
            num1 = float(input("Enter first number: "))
            num2 = float(input("Enter second number: "))
        except ValueError:
            print("Invalid input. Please enter a number.")
            continue

        if choice == '1':
            print(f"{num1} + {num2} = {add(num1, num2)}")
        elif choice == '2':
            print(f"{num1} - {num2} = {subtract(num1, num2)}")
        elif choice == '3':
            print(f"{num1} * {num2} = {multiply(num1, num2)}")
        elif choice == '4':
            print(f"{num1} / {num2} = {divide(num1, num2)}")

        # Check if the user wants another calculation
        next_calculation = input("Let's do the next calculation? (yes/no): ")
        if next_calculation.lower() == "no":
            break
    else:
        print("Invalid input")

Select operation:
1. Add
2. Subtract
3. Multiply
4. Divide

Enter choice (1/2/3/4):  5

Invalid input

Enter choice (1/2/3/4):  5

Invalid input

Enter choice (1/2/3/4):  1
Enter first number:  1
Enter second number:  2

1.0 + 2.0 = 3.0

Let's do the next calculation? (yes/no):  no

In [2]:
l=[1,2,3,4,57,8,9,23,45,67,88,99]

In [3]:
l

[1, 2, 3, 4, 57, 8, 9, 23, 45, 67, 88, 99]

In [6]:
for i in l:
    ptint(i)

NameError: name 'ptint' is not defined

In [7]:
l=[1,2,3,4,57,8,9,23,45,67,88,99]

In [34]:
l1=[]
for i in l :
    print(i+5)
    l1.append(i+1)
print (l1)

TypeError: 'int' object is not iterable

In [15]:
p=[23,444,55,67,88,99,0,9888,112,23,2,333,444,]

In [17]:
for l in p:
    print(l)

23
444
55
67
88
99
0
9888
112
23
2
333
444

In [35]:
l1 = []
for i in l:
    print(i + 5)
    l1.append(i + 1)
print(l1)

TypeError: 'int' object is not iterable

In [36]:
l=[1,2,3,4,57,8,9,23,45,67,88,99]

In [37]:
l

[1, 2, 3, 4, 57, 8, 9, 23, 45, 67, 88, 99]

In [42]:
l1=[]
for i in l:
    print(i+1)
    l1.append(i+1)
l1

2
3
4
5
58
9
10
24
46
68
89
100

[2, 3, 4, 5, 58, 9, 10, 24, 46, 68, 89, 100]

In [44]:
p=['panchananan','prathamesh','goku','hohan','vegeta','op','doremon',]

In [45]:
p

['panchananan', 'prathamesh', 'goku', 'hohan', 'vegeta', 'op', 'doremon']

In [49]:
N=[]
for i in p:
    print(i)
    N.append(i.upper())
N

panchananan
prathamesh
goku
hohan
vegeta
op
doremon

['PANCHANANAN', 'PRATHAMESH', 'GOKU', 'HOHAN', 'VEGETA', 'OP', 'DOREMON']

In [54]:
k=[1,2,3,4,5,6,'pp',11,55,77,88,99,'aa','gg','vk','gk']

In [58]:
l1=[]
l2=[]
 for i in k :
        if type(i)==int or type(i)==float:
             l1.append(i):
                else:
                l2.append(i)

IndentationError: unexpected indent (3800932169.py, line 3)

In [59]:
k=[1,2,3,4,5,6,'pp',11,55,77,88,99,'aa','gg','vk','gk']

In [66]:
l1_num=[]
l2_str=[]
for i in k :
    if type(i)==int or type(i)==float:
         l1_num.append(i):
            else:
                l2_str.append(i)

SyntaxError: invalid syntax (4021261379.py, line 5)

In [67]:
l1_num = []
l2_str = []

for i in k:
    if isinstance(i, (int, float)):
        l1_num.append(i)
    else:
        l2_str.append(i)

print("Numeric elements:", l1_num)
print("String elements:", l2_str)

Numeric elements: [1, 2, 3, 4, 5, 6, 11, 55, 77, 88, 99]
String elements: ['pp', 'aa', 'gg', 'vk', 'gk']

In [70]:
p=[1,2,3,45,6,78,9,99,88,77,99,'panch','ppp','cccc','zzzz','ccccc','mmmm','ttttt']

In [84]:
Z = []
K = []

for i in k:
    if isinstance(i, (int, float)):
        Z.append(i)
    else:
        K.append(i)

print("Numeric elements:", Z)
print("String elements:", K)

Numeric elements: [1, 2, 3, 45, 6, 78, 9, 99, 88, 77, 99]
String elements: ['panch', 'ppp', 'cccc', 'zzzz', 'ccccc', 'mmmm', 'ttttt']

In [82]:
Z

[]

In [85]:
p=[1,2,3,45,6,78,9,99,88,77,99,'panch','ppp','cccc','zzzz','ccccc','mmmm','ttttt']

In [96]:
Z=[]
K=[]
for i in p:
    if type(i)==int or type(i)==float:
        Z.append(i)
    else:
            K.append(i)

In [97]:
k

[1,
 2,
 3,
 45,
 6,
 78,
 9,
 99,
 88,
 77,
 99,
 'panch',
 'ppp',
 'cccc',
 'zzzz',
 'ccccc',
 'mmmm',
 'ttttt']

In [102]:
Z=[]
K=[]
for i in p:
    if type(i)==int or type(i)==float:
        Z.append(i)
    else:
            K.append(i)
print('String_elements',K)
print('interger _elements',Z)

String_elements ['panch', 'ppp', 'cccc', 'zzzz', 'ccccc', 'mmmm', 'ttttt']
interger _elements [1, 2, 3, 45, 6, 78, 9, 99, 88, 77, 99]

In [100]:
Z

[1, 2, 3, 45, 6, 78, 9, 99, 88, 77, 99]

In [101]:
K

['panch', 'ppp', 'cccc', 'zzzz', 'ccccc', 'mmmm', 'ttttt']

In [104]:
p=[11,2222,3333,4444,'ppp',6666,'nnnn','kkkk','zzzz','panchan','genz','geny']

In [120]:
L1=[]
l2=[]
for i in p:
    if isinstance(i, (int, float)):
        L1.append(i)
    else:
        l2.append(i)
print('Integer',L1)
print ('Strings',l2)

Integer [11, 2222, 3333, 4444, 6666]
Strings ['ppp', 'nnnn', 'kkkk', 'zzzz', 'panchan', 'genz', 'geny']

In [119]:
L1=[]
l2=[]
for i in p:
    if isinstance(i, (int, float)):
        L1.append(i)
    else:
        L2.append(i)
print('Integer',L1)
print ('Strings',L2)

NameError: name 'L2' is not defined

In [121]:
PP=[11,2222,3333,4444,'ppp',6666,'nnnn','kkkk','zzzz','panchan','genz','geny']

In [ ]:
Integers[]
Strings[]
for i in pp:
    if isinstance(i,(int,float)):
        Integers.